# Discord Bot token
DISCORD_TOKEN=

# Guild/Server ID (Needed for Application Command Registration)
GUILD_ID=

# Role ID - The ID of the Discord Role which can run Admin commands
ROLE_ID=

# Optional - Error tracking
#BUGSNAG_API_KEY=
